.winning-logo {
  text-align: center;
}
.logo {
  width: 200px;
}
.winner {
  padding: 10px;
  margin: 20px 250px;

  font-size: xx-large;
  font-weight: bold;
  animation: myanimation 10s infinite;
}
@keyframes myanimation {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: brown;
  }
  100% {
    background-color: red;
  }
}
.start-btn{
    padding: 10px 16px;
    font-size: 16px;
    background-color: cadetblue;
    font-weight: bold;
    margin: 10px 0 20px 0;
}
